.center {
    justify-content: center;
    align-items: center;
    display:flex;
}

.footer {
    background-color: lightgray;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, auto);
}

.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}